



<div class="col-xs-3">



<% if user_signed_in? %>

<h4>Name：<%= user.name %></h4>
<h4>Introduction：<%= user.introduction %></h4>

<%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>


<%= link_to edit_user_path(user.id) do %><div class="col-xs-12 btn btn-default glyphicon glyphicon-wrench"><i class=""></i></div><% end %>








<h3>New Book</h3>


<!-- フォームの部分 -->

<div class="form">



<%= form_for(book) do |f| %>

<% if book.errors.any? %>
<%= book.errors.count %>件のエラーが発生しました　%>
<% book.errors.full_messages.each do |message| %>
<%= message %>
<% end %>
<% end %>
<%= f.text_field :title %>
<%= f.text_area :body %>
<%= f.submit %>
<% end %>
</div>

</div>
<% else %>


<% end %>




