
         	<% @post_images.each do |Book| %>
	           :
	           :
          	<% end %>
          <%= paginate @post_images, class: "pagenate" %>








<h1>Books</h1>
<table>
 <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>

    <tbody>

 <% @books.each do |t| %>
 <tr>
        <td><%=t.title %></td>
        <td><%=t.body %></td>
        <td><%= link_to "show",book_path(t) %></td>
        <td><%= link_to "edit",edit_book_path(t) %></td>
        <td><%= link_to 'Destroy', book_path(t), method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </th>

      </tr>
      <% end %>
    </tbody>
</table>
