<h1>Editing Book</h1>



<%= form_for(@book) do |t|  %>



<% if @book.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @book.errors.full_messages.each do |t| %>
        <li><%= t %></li>
      <% end %>
    </ul>
  </div>
<% end %>


    <lavel for="book_title">Title</lavel>
<br>
    <%= t.text_field :title %>
<br>

    <label for="book_body">Body</label>
<br>
    <%= t.text_area :body %>
<br><br>
    <%=t.submit 'Update Book' %>

<% end %>



<%= link_to "Show", book_path(@book) %>

<%= link_to "back",books_path %>
