<!-- attachment いる？ -->
<!-- attachment_image_tagはrefileで用意されている<img>タグを作成してくれるヘルパーです。bookモデルの中のimage_idから保存された画像のimgタグを生成します。 -->





 <table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th></th>
		</tr>
	</thead>

    <tbody>

	 <% @books.each do |t| %>
 <tr>


            <td><%= t.user.name %></td>


            <td><%= attachment_image_tag book_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %></td>


            <%= attachment_image_tag @book, :image %>
    		<td><%=t.title %></td>
    		<td><%=t.body %></td>
    		<td><%= link_to "show",book_path(t) %></td>

    		</th>

    	</tr>




    	<% end %>
    </tbody>
</table>
