
<h3>New Book</h3>




<!-- フォームの部分 -->

<div class="form">




<%= form_for(@book) do |t| %>




<% if flash[:notice] %>
        <%= flash[:notice] %>
<% end %>




<% if @book.errors.any? %>

      <% @book.errors.full_messages.each do |t| %>
        <li><%= t %></li>
      <% end %>


<% end %>





  <h4>Titile</h4>
  <%= t.text_field :title %>

  <h4>Body</h4>
  <%= t.text_area :body %>
<br>
  <%= t.submit 'Create Book' %>



<% end %>


</div>
