<%= form_for(@book) do |t| %>


<% if @book.errors.any? %>

      <% @book.errors.full_messages.each do |t| %>
        <li><%= t %></li>
      <% end %>


<% end %>





  <h4>Titile</h4>
  <%= t.text_field :title %>

  <h4>Body</h4>
  <%= t.text_area :body %>
<br>
  <%= t.submit 'Create Book' %>



<% end %>


</div>
