
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

  <body>

    <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <h5>Bookers</h5>
    </nav>
    <nav>
<% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">



        <li><%= link_to  user_path(current_user.id) do %><i class="glyphicon glyphicon-home" aria-hidden="true"> Home</i><% end %></li>

        <li><%= link_to  users_path do %><i class="glyphicon glyphicon-home" aria-hidden="true"> Users</i><% end %></li>

        <li><%= link_to  books_path do %><i class="glyphicon glyphicon-home" aria-hidden="true"> Books</i><% end %></li>

        <li><%= link_to  destroy_user_session_path, method: :delete do %><i class="glyphicon glyphicon-home" aria-hidden="true"> logout</i><% end %></li>



<% else %>
       <ul class="nav navbar-nav navbar-right">

         <li><%= link_to  root_path do %><i class="glyphicon glyphicon-home" aria-hidden="true"> Home</i><% end %></li>

         <li><%= link_to  home_about_path do %><i class="glyphicon glyphicon-home" aria-hidden="true"> About</i><% end %></li>

         <li><%= link_to  new_user_registration_path do %><i class="glyphicon glyphicon-home" aria-hidden="true"> sign up</i><% end %></li>

         <li><%= link_to  new_user_session_path do %><i class="glyphicon glyphicon-home" aria-hidden="true"> login</i><% end %></li>
      </ul>
<% end %>
    </nav>
  </div>
</header>



  <div class="error_explanation">
   <%= render 'layouts/notifications' %>
  </div>









    <%= yield %>

</body>
